{% extends "base.html" %}
{% block title %}Mainpage{% endblock %}
{% block content %}
<h1>Things I hate about you:</h1>
<form method="post">
  <label>
    <div>Title</div>
    <input type="text" name="title" value="{{title}}">
  </label>
  <label>
    <div>Blog</div>
    <textarea name="blog">{{blog}}</textarea>
  </label>

  <div class="error">{{error}}</div>
  <input type="submit">
</form>


{% for blog in blogs %}
  <div class="blog">
    <div class="blog-title">{{blog.title}}</div>
    <pre class="blog-body" >{{blog.blog}} </pre>
  </div>
  {% endfor %}
{% endblock %}
